<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= @tenant.name %></td>
  </tr>
<table>
<br>
<a href="/apartments/<%=@tenant.apartment.id%>"><%=@tenant.apartment.address%> </a>
<br>
<form action="/tenants/<%= @tenant.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>
<br>

<a class="button" href="/tenants/<%= @tenant.id %>/edit">Edit tenant</a> <br>

<a class="button" href="/tenants"> All tenants</a>
